@charset "utf-8";
/* CSS Document */
#box1 {
	width: 200px;
	height:200px;
	background:#333;
	transition-property:width;
	transition-duration:2s;
	transition-delay:.2s;
	/*safari and chrome*/
	-webkit-transition-property:width;
	-webkit-transition-duration:2s;
	-webkit-transition-delay:.2s;
	/*firefox*/
	-moz-transition-property:width;
	-moz-transition-duration:2s;
	-moz-transition-delay:.2s;
	/*opera*/
	-o-transition-property:width;
	-o-transition-duration:2s;
	-o-transition-delay:.2s;
	
}
#box1:hover{
	width:500px;
}

#box2{
	width:300px;
	height:200px;
	background:red;
	position:relative;
	animation-name: myanimation;
	animation-delay:.2s;
	animation-direction:alternate;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-play-state:running;
	animation-timing-function:linear;
}
@keyframes myanimation{
	0%{
		background:red ;
		left:0;
		top:0;
	}
	25%{
		background:yellow ;
		left:0;
		top:200px;
	}
	50%{
		background:green ;
		left:200px;
		top:200px;
	}
	75%{
		background:blue ;
		left:200px;
		top:0;
	}
	100%{
		background:red ;
		left:0;
		top:0;
	}
}